.container {
    display: flex;
}

.grid {
    width: 300px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.grid div{
    width: 30px;
    height: 30px;
}

.tetramino {
    background-color: blue;
    
}

.mini-grid {
    margin-left: 50px;
    width: 120px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}

.mini-grid div {
    width: 30px;
    height: 30px;
}

.jumbotron {
    background-image: url(img/shapes.jpg);
    background-size: cover;
    height: 300px;
}

.jumbotron h1 {
    color: white;
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 5em;
  
}

body {
    background-color: lightgray;
    font-family: 'Righteous', cursive;
    padding-bottom: 30px;
   
}

.btn {
    padding: 20px;
}

p {
    padding-top: 20px;
}

.icon {
    width: 100px;
    
}

.headshot {
    width: 300px;
    
}

